.about {
	background-image: url('./img/background3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	background-position: center center;
	padding: 15px;

	&__board {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 0 0 25px rgba(0, 0, 0, .15);

		@include atTabletsLandscape {
			flex-direction: row;
		}
	}

	&__img {
		max-width: 340px;
		height: 500px;
		display: inline-block;
		@include atTabletsLandscape {
			
		}

        img {
			height: 100%;
			width: 100%;
		}
	}

	&__content {
		background-color: #fff;
		width: 100%;
	}

	&__author {
        margin: 0;
        padding: 20px 0;
        font-size: 2rem;
        font-family: $Lora;
        color: $text;
        font-weight: 700;
		text-align: center;

		@include atTabletsLandscape {
			padding: 20px;
			text-align: left;
		}
    }
    &__profession {
        text-align: center;
        display: block;
        font-style: italic;
        font-family: $Lora;
        font-size: 0.83rem;
		color: #797979;
		
		@include atTabletsLandscape {
			padding: 0 20px;
			text-align: left;
		}
    }
    
    &__list {
        list-style: none;
        padding: 15px;
        font-family: $Lora;
        color: $text;
        font-size: 1rem;
        // text-align: justify
    }
}