.info {
	// display: flex;
	padding-top: 25px;

	&__list {
		display: flex;
		list-style: none;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-left: 0;
		

		&--footer {
			flex-direction: column;
			// justify-content: center;
			align-items: center;
		}
	}

	&__text {
		color: #a3683f;
		font-size: 15px;
		font-family:  $Roboto;
		font-weight: 500;
		display: block;
		line-height: 30px;
		letter-spacing: 3;

		&--light {
			font-weight: 300;
		}

		&--footer {
			text-shadow: 0 2px 6px rgba(0, 0, 0, .15);
			color: $text;
			text-align: left;
		}
	}
}