.main-menu {
	    // positioning
		position: fixed;
		bottom: 0;
		left: -100%;
		top: 0;
		z-index: 4;
	
		// box model
		width: 100%;
		padding: 30px;
	
		// visual
		background-color: #5f341f;
		transition: all 0.3s ease-out;
		visibility: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include atDesktop {
			position: static;
			width: auto;
			flex-direction: row;
			visibility: visible;
			background: none;
			padding: 0
		}

	&--footer {
		display: flex;
		justify-content: center;
	}

	&__list {
		list-style: none;
		padding-left: 0;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		@include atDesktop {
			flex-direction: row;
			margin-top: 0;
		}

		&--footer {
			list-style: none;
			padding-left: 0;
			display: flex;
			justify-content: space-between;

			@include atSmall {
				flex-direction: column;
			}
		}
	}

	&__item {
		padding-right: 5px;
		display: flex;
		justify-content: space-between;
		padding-bottom: 50px;

		@include atDesktop {
			padding-right: 48px;

			&:last-child {
				padding-right: 0;
			}
		}

		&--footer {
			padding-right: 5px;
			padding-bottom: 0;
			font-family:  $Roboto;

			@include atSmall {
				padding-right: 0px;
				padding-bottom: 20px;
			}
		}
	}

	&__link {
		text-decoration: none;
		text-shadow: 0 2px 6px rgba(0, 0, 0, .15);
		font-family: $Roboto;
		color: #fff;
		// text-transform: uppercase;

		@include atDesktop {
			color: #a3683f;
			box-shadow: none;
			// text-transform: lowercase;
			transition: 0.3s ease-in-out all;

			&:hover {
				color: #f9b030;
			}
		}

		&--footer {
			color: $text;
			font-size: 1rem;
			font-weight: 500;
			text-decoration: none;
			text-shadow: 0 2px 6px rgba(0, 0, 0, .15);
			transition: 0.3s ease-in-out all;
			&:hover {
				color: #f9b030;
			}

			@include atTabletsLandscape {
				padding-right: 30px;

				&::last-child {
					padding-right: 0;
				}
			}
		}
	}
	&--shown {
        // positioning
        left: 0;

        // visual
        // opacity: 1;
        visibility: visible;

        @include atDesktop {
            // positioning
            left: 250px;
        }
    }
}